@font-face {
  font-family: "Under-the-influence";
  src: url("under-the-influence.ttf");
}

@font-face {
  font-family: "Trashed Light";
  src: url("Trashedlight-Regular.ttf");
}

@font-face {
  font-family: "Unispace";
  src: url("unispace-italic.ttf");
}
body {
  background-color: black;
}

div {
  padding-top: 25vh;
  text-align: center;
}

h1 {
  font-family: "Under-the-influence", cursive;
  font-size: 48px;
  letter-spacing: 0.4em;
  color: lightgrey;
  text-shadow: yellow 0 4px 10px;
}

h2 {
  font-family: "Unispace", monospace;
  font-size: 40px;
  color: red;
}
